.compare-page-container {
  background-color: $white;
  .compare-page-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;

    .compare-chart {
      font-family: 'Raleway', sans-serif;
      overflow-x: auto;
      h3 {
        margin: 1rem 0;
      }
    }

    // remove chart
    .chart {
      width: 100%;
      background-color: lightgray;
      height: 21rem;
    }

    .text-section {
      display: flex;
      justify-content: space-between;
      padding-top: 4rem;
      flex-wrap: wrap;
      div {
        max-width: 39rem;
        padding-bottom: 2rem;
      }
      .compare-illustration {
        width: 450px;
        margin-top: -6rem;
      }
    }
    .multiple-compare-charts {
      padding-top: 5rem;
    }

    .multiple-charts {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-top: 2rem;

      .placeholder {
        height: 14rem;
        width: 18rem;
        background-color: lightgrey;
      }
    }
  }
  .date-dropdown {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem 0;

    select {
      border: none;
      border-bottom: 1px solid black;
      width: 8rem;
      padding: 0.4rem;
      font-family: $paragraph-font;
      margin-bottom: 2rem;
    }
  }
}

@media (max-width: 1190px) {
  div .compare-page-container .compare-page-content .multiple-charts {
    justify-content: space-evenly;
  }
  .map-wrapper {
    margin-right: 1rem;
  }
}

@media (max-width: 1086px) {
  div .compare-page-container .compare-page-content {
    .title {
      text-align: center;
    }
    .trails-main .trails-main-text-container {
      justify-content: center;
    }
    .text-section {
      justify-content: center;
    }
  }
}
