.compare-page-container {
  background-color: $white;
  .compare-page-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;

    .compare-chart {
      font-family: 'Raleway', sans-serif;
      h3 {
        margin: 1rem 0;
      }
    }

    // remove chart
    .chart {
      width: 100%;
      background-color: lightgray;
      height: 21rem;
    }

    .text-section {
      display: flex;
      justify-content: space-between;
      padding-top: 4rem;
      flex-wrap: wrap;
    }

    .multiple-charts {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding-top: 4rem;

      .placeholder {
        height: 14rem;
        width: 18rem;
        background-color: lightgrey;
      }
    }
  }
}
