.what-is-effect-container {
    background-color: #161A1D;
    position: relative;
    height: 100%;
    padding: 2rem 0;

    h1 {
        margin: 0 auto;
        text-align: center;
    }

    .what-is-effect-header-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    p {
        color: #fff;
    }

    .wat-is-effect-text-container {
        position: absolute;
        display: flex;
        flex-direction: column;
        max-width: 400px;
        h3 {
            color: #fff;
            font-family: Roboto;
            font-weight: bold;
            font-size: 22px;
            line-height: 26px;
        }
    }

    #wat-is-effect-text-container-0 {
        top: 200px;
        left: 300px;

    }

    #wat-is-effect-text-container-1 {
        left: 50px;
        top: 400px;

    }

    #wat-is-effect-text-container-2 {
        left: 90px;
        top: 680px;
    }

    #wat-is-effect-text-container-3 {
        bottom: 30px;
        left: 50%;
        transform: translate(-50%)
    }

    #wat-is-effect-text-container-4 {
        top: 38%;
        left: 43%;
    }

    #wat-is-effect-text-container-5 {
        top: 350px;
        right: 100px;
    }

    #wat-is-effect-text-container-6 {
        top: 450px;
        right: 0;
    }

    #wat-is-effect-text-container-7 {
        top: 600px;
        right: 20px;
    }

    #wat-is-effect-text-container-8 {
        top: 770px;
        right: 30px;
    }

    .what-is-effect-content-container {
        background-image:  url(/assets/wat-is-het-effect.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 916px 682px;
        min-height: 1000px;
        position: relative;
    }

    .what-is-effect-illustration {
        position:absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 700px;
    }
}