.paragraph {
  font-family: $paragraph-font;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.9rem;
}

.text-color-red {
  color: red;
}

.text-color-green {
  color: #003e1f;
}
