.bar-chart-container {
    position: relative;
    width: max-content;
    font-family: 'Raleway', sans-serif;
    .x-axis-label {
      position: absolute;
      left: 80px;
      width: max-content;
    }
    .bar-chart {
      path {
        stroke-width: 2px;
      }
  
      
    }
  }