.bar-chart-container {
    position: relative;
    width: max-content;
    font-family: 'Raleway', sans-serif;
    .x-axis-label {
      position: absolute;
      top: 100px;
      left: 0;
      width: max-content;
      transform: rotate(-90deg);
    }
    .bar-chart {
      path {
        stroke-width: 2px;
      }
  
      
    }
  }