.info-box {
  padding: 2rem;
  max-width: 400px;

  &.green {
    background: #003e1f;
    h2,
    p {
      color: $white;
      max-width: 18rem;
    }
    h2 {
      font-size: 3.1rem;
      line-height: 3.3rem;
    }
  }

  &.red {
    background: #ba181b;
    h2,
    p {
      color: $white;
      max-width: 25rem;
    }
  }

  &.white {
    background: $white;
    h2 {
      color: #f70123;
      max-width: 18rem;
    }
    p {
      color: $black;
      max-width: 18rem;
    }
    span {
      max-width: 18rem;
      color: #f70123;
      font-weight: bold;
    }
    .blue {
      color: #2c323a;
    }
  }
}

.cities-page-info-box-right-container {
  .info-box {
    display: flex;
    max-width: none;
    p {
      padding-right: 2rem;
    }
  }
}
