.NavButtons {
  background: none;
  border-radius: 0px 0px 8px 8px;
  border: none;
  color: $white;
  width: 13rem;
  height: 3.5rem;
  cursor: pointer;
  margin-right: 0.1rem;
  font-weight: 600;

  &:hover {
    background-color: $navbuttonHover;
  }
}

.cities-menu {
  font-family: 'Raleway', sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
  padding-top: 10rem;
  ul {
    display: flex;
    border-radius: 0 0 8px 8px;
    list-style-type: none;
    li {
      border-radius: 0px 0px 8px 8px;
      margin-left: 2px;
    }
  }
}
