.line-chart-container {
  position: relative;
  width: max-content;
  font-family: 'Raleway', sans-serif;
  overflow-x: auto;
  .legenda {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 25px;
    width: 100px;
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 80px;
    }
    li:first-of-type > div {
      width: 30px;
      height: 2px;
      background-color: #f70123;
    }
    li:last-of-type > div {
      width: 30px;
      height: 2px;
      background-color: #003e1f;
    }
  }
  .x-axis-label {
    position: absolute;
    top: 40px;
    font-size: 0.8rem;
    left: -26px;
    width: max-content;
    transform: rotate(-90deg);
  }
  .line-chart {
    path {
      stroke-width: 2px;
    }
  }
}
